:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #c3616f; /* Thay đổi màu primary */
    --product-border-color: #ddd;
}

/* Reset cơ bản */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Grid system */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Header */
.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.header-top {
    background-color: #333;
    color: var(--white-color);
    padding: 1rem 0;
}

.header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-contact-info,
.header-social-link {
    display: flex;
    align-items: center;
}

.header-social-link {
    color: #ffffff;
    border:#ffffff;
    background-color: #3a654f;
}

.header-social-link a {
    color: var(--white-color);
    margin-left: 1rem;
    text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.navbar-logo {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin: 0 2rem;
    font-size: 1.6rem;
}

.navbar-item a,
.navbar-icon a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-item:hover a,
.form-group input:focus,
.auth-btn:hover,
.pagination a.active {
    color: var(--primary-color);
}

.navbar-icon {
    font-size: 1.8rem;
}

/* Dropdown */
.account-icon {
    position: relative;
}

.account-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #343232;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.account-dropdown.hidden {
    display: none;
}

.account-dropdown-list {
    list-style: none;
}

.account-dropdown-item a {
    display: block;
    padding: 1rem 2rem;
    color: var(--black-color);
    text-decoration: none;
    font-size: 1.4rem;
}

.account-dropdown-item a:hover {
    background-color: #edebeb;
}

/* Container */
.container {
    padding: 4rem 0;
    min-height: 60vh;
}

/* Authentication Form */
.auth-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.auth-form-title {
    font-size: 2.4rem;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 2rem;
}

.form-group label {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
}

.auth-btn {
    width: 100%;
    padding: 1.2rem;
    background-color: #333;
    color: var(--white-color);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-link {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.auth-link a {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9e6e6;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.banner-content {
    max-width: 50%;
}

.banner-content h2 {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    line-height: 1.2;
}

.banner-content p {
    font-size: 1.6rem;
    color: #666;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.banner-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #011c0e;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
}

.banner-btn:hover {
    background-color: #3a654f;
}

.banner-image {
    text-align: right;
}

.banner-image img {
    max-width: 70%;
    border-radius: 1rem;
}

/* Product Section */
.product-section {
    margin-bottom: 4rem;
}

.product-section h3 {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: center;
}
.product-section h4 {
    font-size: 1.8rem;
    color: #666;
    margin-bottom: 1rem;
    text-align: left;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-item {
    border: 1px solid var(--product-border-color);
    padding: 1rem;
    text-align: center;
}

.product-item:hover {
    border-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease;
}


.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item p {
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 1.4rem;
}

.product-details {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
}

.product-image img {
    max-width: 200px;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

.product-description {
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.buy-button {
    padding: 10px 20px;
    background-color: #c3616f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #88404b;
    transition: background-color 0.5s ease;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.price {
    font-size: 1.6rem;
    font-size: medium;
    color: red ;
}

.description {
    font-size: 1.6rem;
    font-size: medium;
}

/* Footer */
.footer-extended {
    background-color: rgba(110, 99, 99, 1);
    color: var(--white-color);
    padding: 1rem 0;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.footer-column {
    flex: 1;
}

.footer-column h4 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.footer-column p {
    font-size: 1.4rem;
    line-height: 2rem;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 1rem;
}

.footer-column ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: rgba(57, 48, 48, 1);
    padding: 1rem 0;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    bottom: 0;
    
}


.footer-bottom p {
    font-size: 1.4rem;
}

.footer-bottom .footer-links a {
    color: var(--white-color);
    font-size: 1.4rem;
    margin-left: 1rem;
    text-decoration: none;
}

.footer-bottom .footer-links a:hover {
    text-decoration: underline;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination a {
    color: var(--text-color);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 1px solid var(--product-border-color);
    border-radius: 0.3rem;
    text-decoration: none;
}

.pagination a:hover:not(.active) {
    background-color: #eee;
}

.product-grid.six-columns {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.product-grid.six-columns .product-item {
    flex: none;
}


/*todo: phần thông tin */
.about-us {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.about-us-image img {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 5px;
}

.about-us-info {
    flex: 1;
}

.about-us-info h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.about-us-info h3 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.about-us-info h4 {
    font-size: 1.8rem;
    margin-top: 15px;
    margin-bottom: 8px;
    color: #666;
}

.about-us-info p,
.about-us-info ul,
.about-us-info ol,
.about-us-info blockquote {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-us-info ul,
.about-us-info ol {
    padding-left: 20px;
}

.about-us-info blockquote {
    font-style: italic;
    border-left: 3px solid var(--primary-color);
    padding-left: 15px;
}